/* About
====================== */
.about__inner {
    padding: 140px 0 40px;
    text-align: center;
    min-height: calc(100vh - 175px);
}

.about__information {
    padding: 20px 0;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 1;
}
