.login__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0 40px;
    text-align: center;
    min-height: calc(100vh - 175px);
}

#id_username,
#id_password {
    border-radius: 3px;
    border: none;
    font-family: 'Raleway';
    font-size: 16px;
    padding: 7px 4px;
    margin-left: 5px;
    margin-bottom: 15px;
}

#id_username,
#id_password {
    outline: none;
    border: 2px solid #222228;
}

form {
    width: auto;
}

form p {
    text-align: end;
}

label {
    font-size: 17px;
}

input[type='submit'] {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(70, 182, 42);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 17px;
    color: #fff;

    transition: background-color 0.2s ease-out;
}

input[type='submit']:hover {
    background-color: rgb(63, 161, 38);
}
