{% extends 'layout/base.html' %}
{% load static %}

{% block additional_style %}
  <link rel="stylesheet" href="{% static 'main/styles/about.css' %}" />
{% endblock additional_style %}

{% block content %}
    <!-- About -->
    <div class="about">
      <div class="container">
        <div class="about__inner">
          <h2 class="title">About Seek&Testroy</h2>
          <h3 class="subtitle">
            The best site for passing tests on various topics
          </h3>
          <div class="about__information">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consequatur, cum beatae recusandae distinctio ipsa error fugiat
              minus eos excepturi laboriosam cupiditate sapiente aut aliquid
              exercitationem pariatur aperiam iusto laborum quae! Doloribus,
              amet dolore? Aliquid ab id provident error laudantium excepturi
              alias illo necessitatibus perspiciatis sit aspernatur voluptatem
              dolor expedita, vel ut quis quam harum eligendi incidunt atque
              eveniet, nemo repellat eius consequatur? Quisquam aliquid, tenetur
              et excepturi ex soluta ut?
            </p>
            <br />

            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae
              natus, excepturi minus eos totam similique temporibus illum.
              Dolorum sunt esse culpa, aut quasi delectus incidunt voluptatem
              quidem architecto fuga libero amet fugit numquam expedita minima
              itaque facilis perferendis officiis blanditiis.
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
 