{% extends 'layout/base.html' %}
{% load static %}

{% block additional_style %}
  <link rel="stylesheet" href="{% static 'main/styles/about.css' %}" />
{% endblock additional_style %}

{% block content %}
    <!-- About -->
    <div class="about">
      <div class="container">
        <div class="about__inner">
          <h2 class="title">About Seek&Testroy</h2>
          <h3 class="subtitle">
            The best site for passing tests on various topics
          </h3>
          <div class="about__information">
            <p>
              The name of the site refers to the song of the cult band "Metallica", but unlike the name of the song, on our site you can find and pass tests on various topics.
            </p>
            <br/>

            <p>
              Tests are created by people who understand the topics for which they create tests. Once you have achieved a certain level of experience, you will be able to create tests on the topics you excel at. We hope you will spend your time on the site with benefit and pleasure. Good luck!
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
 