{% extends 'layout/base.html' %}
{% load static %}

{% block additional_style %}
	<link rel="stylesheet" href="{% static 'main/styles/change_password.css' %}" />
{% endblock additional_style %}

{% block content %}

  <div class="change__passwor">
    <div class="container">
      <div class="change__password__inner">
        <form method="POST">
          {% csrf_token %}

          {{ form.as_p }}
		  <input type="submit" value="Change password" class="update__inner__button">
        </form>
      </div>
    </div>
  </div>

{% endblock content %}