{% extends 'layout/base.html' %}
{% load static %}

{% block additional_style %}
    <link rel="stylesheet" href="{% static 'main/styles/registration.css' %}"/>
{% endblock additional_style %}

{% block content %}
<div class="registration">
    <div class="container">
        <div class="registration__inner">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}

                {{ form.as_p }}
                <input type="submit" value="Registration" class="registration__inner__button">
            </form>
        </div>
    </div>
</div> 
{% endblock content %}
